study_prefix = "core"
[[stages.build_core]]
description = "FHIR support tables"
files = [
    "version.sql",
    "fhir_lookup_tables.sql",
    "fhir_mapping_tables.sql",
]
action_type = "parallel"
[[stages.build_core]]
description = "FHIR nested resource flattening"
files =[
    "builder_allergyintolerance_prereq.py",
    "builder_condition_prereq.py",
    "builder_diagnosticreport_prereq.py",
    "builder_documentreference_prereq.py",
    "builder_encounter_prereq.py",
    "builder_location_prereq.py",
    "builder_medicationrequest_prereq.py",
    "builder_observation_prereq.py",
    "builder_organization_prereq.py",
    "builder_patient_prereq.py",
    "builder_practitioner_prereq.py",
    "builder_practitionerrole_prereq.py",
    "builder_procedure_prereq.py",
]
[[stages.build_core]]
description = "Patient"
files =[
    "builder_patient.py",
]
[[stages.build_core]]
description= "Other FHIR resource tables"
files=[
    "builder_allergyintolerance.py",
    "builder_condition.py",
    "builder_diagnosticreport.py",
    "builder_documentreference.py",
    "builder_encounter.py",
    "builder_location.py",
    "builder_medicationrequest.py",
    "builder_observation.py",
    "builder_organization.py",
    "builder_practitioner.py",
    "builder_practitionerrole.py",
    "builder_procedure.py",
]
action_type = "parallel"
[[stages.build_core]]
description = "Tables derived from FHIR resource tables"
files = [
    "observation_type.sql",
    "meta_date.sql"
]
action_type = "parallel"
[[stages.build_core]]
description = "Summary counts of FHIR resources"
files = ["count_core.py"]
action_type = "parallel"

[export_config]
count_list = [
    "core__count_allergyintolerance_month",
    "core__count_condition_month",
    "core__count_diagnosticreport_month",
    "core__count_documentreference_month",
    "core__count_encounter_month",
    "core__count_encounter_all_types",
    "core__count_encounter_all_types_month",
    "core__count_encounter_service_month",
    "core__count_encounter_priority_month",
    "core__count_encounter_type_month",
    "core__count_medicationrequest_month",
    "core__count_observation_lab_month",
    "core__count_patient",
    "core__count_procedure_month",
]
meta_list = [
    "core__meta_date",
    "core__meta_version",
]
