{# Commonly used macros related to basic SQL syntax formatting #}

{%- macro comma_delineate(loop) -%}
{%- if not loop.last -%}
, 
{%- endif -%}
{%- endmacro -%}

{%- macro period_delineate(loop) -%}
{%- if not loop.last -%}
.
{%- endif -%}
{%- endmacro -%}

{%- macro union_delineate(loop) -%}
{%- if not loop.last -%}
UNION
{%- endif -%}
{%- endmacro -%}
--noqa: LT12
