{% import 'unnest_utils.jinja' as unnest_utils %}

CREATE TABLE core__medicationdispense_performer AS (
    {%- if schema["medicationdispense"]["performer"]["actor"]["reference"] %}
    WITH

    flattened_rows AS (
        {{ unnest_utils.flatten(
            'medicationdispense',
            'actor',
            parent_field='performer'
        ) }}
    )

    SELECT
        f.id,
        f.row,
        f.actor.reference AS performer_ref
    FROM flattened_rows AS f
    WHERE f.actor.reference IS NOT NULL

    {%- else %}
    SELECT
        'x' AS id,
        cast(NULL AS bigint) AS row,
        'x' AS performer_ref
    WHERE 1 = 0 -- empty table
    {%- endif %}
);
