{% import 'core_utils.jinja' as utils %}

CREATE TABLE core__observation AS
WITH temp_observation AS (
    SELECT
        {{- utils.basic_cols(
                'observation',
                'o',
                [
                    'id',
                    'status'
                ]
            ) 
        }},
        {{- utils.nullable_cols(
                'observation',
                'o',
                [
                    ('encounter', 'reference', 'encounter_ref'),
                    ('subject', 'reference', 'subject_ref'),
                    'valueString',
                    ('valueQuantity', 'value', 'valueQuantity_value'),
                    ('valueQuantity', 'comparator', 'valueQuantity_comparator'),
                    ('valueQuantity', 'unit', 'valueQuantity_unit'),
                    ('valueQuantity', 'system', 'valueQuantity_code_system'),
                    ('valueQuantity', 'code', 'valueQuantity_code'),
                ],
                schema
            ) 
        }},
        {{- utils.truncate_date_cols(
                'observation',
                'o',
                [
                    ('effectiveDateTime', 'day'),
                    ('effectiveDateTime', 'week'),
                    ('effectiveDateTime', 'month'),
                    ('effectiveDateTime', 'year'),
                ],
                schema
            ) 
        }},
        odc.code AS observation_code,
        odc.code_system AS observation_code_system,
        odcat.code AS category_code,
        odcat.code_system AS category_code_system,
        odi.code AS interpretation_code,
        odi.code_system AS interpretation_code_system,
        odi.display AS interpretation_display,
        odvcc.code AS valueCodeableConcept_code,
        odvcc.code_system AS valueCodeableConcept_code_system,
        odvcc.display AS valueCodeableConcept_display,
        odda.code AS dataAbsentReason_code,
        odda.code_system AS dataAbsentReason_code_system,
        odda.display AS dataAbsentReason_display
    FROM observation AS o
    LEFT JOIN core__observation_dn_category AS odcat ON o.id = odcat.id
    LEFT JOIN core__observation_dn_code AS odc ON o.id = odc.id
    LEFT JOIN core__observation_dn_interpretation AS odi ON o.id = odi.id
    LEFT JOIN core__observation_dn_valuecodeableconcept AS odvcc ON o.id = odvcc.id
    LEFT JOIN core__observation_dn_dataabsentreason AS odda ON o.id = odda.id
)

SELECT
    id,
    category_code,
    category_code_system,
    status,
    observation_code,
    observation_code_system,
    interpretation_code,
    interpretation_code_system,
    interpretation_display,
    effectiveDateTime_day,
    effectiveDateTime_week,
    effectiveDateTime_month,
    effectiveDateTime_year,
    valueCodeableConcept_code,
    valueCodeableConcept_code_system,
    valueCodeableConcept_display,
    valueQuantity_value,
    valueQuantity_comparator,
    valueQuantity_unit,
    valueQuantity_code_system,
    valueQuantity_code,
    valueString,
    dataAbsentReason_code,
    dataAbsentReason_code_system,
    dataAbsentReason_display,
    subject_ref,
    encounter_ref,
    concat('Observation/', id) AS observation_ref
FROM temp_observation
WHERE
    effectiveDateTime_day BETWEEN date(
        from_iso8601_timestamp('2016-06-01')
    ) AND current_date;
