{% import 'core_utils.jinja' as utils %}
CREATE TABLE core__patient AS
WITH temp_patient AS (
    SELECT DISTINCT
        {{- utils.basic_cols(
                'patient',
                'p',
                [
                    'id'
                ]
            ) 
        }},
        {{- utils.nullable_cols(
                'patient',
                'p',
                [
                    'gender', 'address'
                ],
                schema
            ) 
        }},
        {{- utils.partial_date_cols(
                'patient',
                'p',
                [
                    'birthdate'
                ],
                schema
            ) 
        }},
        er.race_display,
        ee.ethnicity_display
    FROM
        patient AS p
    LEFT JOIN core__patient_ext_race AS er ON p.id = er.id
    LEFT JOIN core__patient_ext_ethnicity AS ee ON p.id = ee.id
)

SELECT DISTINCT
    tp.gender,
    tp.birthdate,
    CASE
        WHEN
            t_address.addr_row.postalcode IS NOT NULL
            THEN substr(t_address.addr_row.postalcode, 1, 3)
        ELSE 'None'
    END AS postalcode3,
    tp.id AS subject_id,
    concat('Patient/', tp.id) AS subject_ref,
    coalesce(tp.race_display, 'unknown') AS race_display,
    coalesce(tp.ethnicity_display, 'unknown') AS ethnicity_display
FROM
    temp_patient AS tp,
    unnest(tp.address) AS t_address (addr_row)

WHERE
    tp.birthdate IS NOT NULL
    AND tp.gender IS NOT NULL;
