{%- import 'syntax.sql.jinja' as syntax -%}
{%- import 'unnest_utils.jinja' as unnest_utils -%}
CREATE TABLE {{ target_table }} AS (
    WITH
    {%- if is_array %}

    flattened_rows AS (
        {{ unnest_utils.flatten(source_table, column_name, parent_field=parent_field) }}
    ),
    {%- set source_table = 'flattened_rows' -%}
    {%- set parent_field = false %}
    {%- endif %}

    {%- if child_is_array %}

    child_flattened_rows AS (
        SELECT DISTINCT
            s.id,
            {%- if is_array %}
            s.row, -- keep the parent row number
            {%- endif %}
            u."{{ column_name }}"
        FROM
            {{ source_table }} AS s,
        {%- if parent_field %}
            UNNEST(s."{{ parent_field }}"."{{ column_name }}")
            AS u ("{{ column_name }}")
        {%- else %}
            UNNEST(s."{{ column_name }}") AS u ("{{ column_name }}")
        {%- endif %}
    ),
    {%- set source_table = 'child_flattened_rows' -%}
    {%- set parent_field = false %}
    {%- endif %}

    {%- for system in code_systems %}

    system_{{ column_name }}_{{ loop.index0 }} AS (
        SELECT DISTINCT
            s.{{ source_id }} AS id,
            {%- if is_array %}
            s.row,
            {%- else %}
            0 AS row,
            {%- endif %}
            {%- if filter_priority %}
            '{{ loop.index0 }}' AS priority,
            {%- endif %}
            u.codeable_concept.code,
            u.codeable_concept.display,
            u.codeable_concept.system AS code_system
        FROM
        {#- Temp workaround - to be reworked by generic DN -#}
        {%- if parent_field %}
            {{ source_table }} AS s,
            UNNEST(s.{{ parent_field }}.{{ column_name }}.coding) AS u (codeable_concept)
        {%- else %}
            {{ source_table }} AS s,
            UNNEST(s.{{ column_name }}.coding) AS u (codeable_concept)
        {%- endif %}
        {%- if filter_priority %}
        WHERE
            u.codeable_concept.system LIKE '{{ system }}'
        {%- endif %}
    ), --noqa: LT07
    {%- endfor %}

    union_table AS (
        {%- for system in code_systems %}
        SELECT
            id,
            row,
            {%- if filter_priority %}
            priority,
            {%- endif %}
            code_system,
            code,
            display
        FROM system_{{ column_name }}_{{ loop.index0 }}
        {{ syntax.union_delineate(loop) }}
        {%- endfor %}
    )
    {%- if filter_priority -%},

    partitioned_table AS (
        SELECT
            id,
            row,
            code,
            code_system,
            display,
            priority,
            ROW_NUMBER()
                OVER (
                    PARTITION BY id
                    ORDER BY priority ASC
                ) AS available_priority
        FROM union_table
        GROUP BY id, row, priority, code_system, code, display
        ORDER BY priority ASC
    )

    SELECT
        id,
        {%- if is_array %}
        row,
        {%- endif %}
        code,
        code_system,
        display
    FROM partitioned_table
    WHERE available_priority = 1
);
{% else %}
    SELECT
        id,
        {%- if is_array %}
        row,
        {%- endif %}
        code,
        code_system,
        display
    FROM union_table
);
{% endif %}
