{%- import 'syntax.sql.jinja' as syntax -%}
CREATE OR REPLACE VIEW {{ view_name }} AS (
    SELECT * FROM (
        VALUES
        {%- for row in dataset %}
        (
            {%- for field in row -%}
            '{{ field }}'
            {{- syntax.comma_delineate(loop) }}
            {%- endfor -%}
        )
        {{- syntax.comma_delineate(loop) }}
        {%- endfor %}
    )
        AS t
        (
            {%- for col in view_cols -%}
            "{{ col }}"
            {{- syntax.comma_delineate(loop) }}
            {%- endfor -%}
        )
);
