CREATE TABLE IF NOT EXISTS "{{ schema_name }}"."{{ table_name }}" 
AS (
    SELECT * FROM (
        VALUES
        (
            {%- for type in table_cols_types -%}
            cast(NULL AS {{ type }})
            {%- if not loop.last -%}
            , 
            {%- endif -%}
            {%- endfor -%}
        )
    )
        AS t (
            {%- for col in table_cols -%}
            "{{ col }}"
            {%- if not loop.last -%}
            , 
            {%- endif -%}
            {%- endfor -%}
        )
);
