{# Note that row deletion in athena will only work with iceberg tables #}
{%- import 'syntax.sql.jinja' as syntax -%}
DELETE FROM "{{ schema }}"."{{ table_name }}"
{%- if where_clauses !=[] %}
WHERE
    {%- for clause_group in where_clauses %} --noqa: LT02
    ( 
        {%- for clause in clause_group %}
        {{ syntax.and_delineate(loop) -}} {{ clause }}
        {%- endfor -%}
    ) --noqa: LT02
    {{- syntax.or_delineate(loop) }}
{%- endfor %}
{%- endif %}
