INSERT INTO {{ table_name }}
(
    {%- for col in table_cols -%}
    "{{ col }}"
    {%- if not loop.last -%}
    , 
    {%- endif -%}
    {%- endfor -%}
)
VALUES
{%- for row in dataset %}
(
    {%- for field in row -%}
    {%- if table_cols[loop.index0] in type_casts.keys() -%}
    {{ type_casts[table_cols[loop.index0]] }} '{{ field }}'
    {%- else -%}
    '{{ field }}'
    {%- endif -%}
    {%- if not loop.last -%}
    , 
    {%- endif -%}
    {%- endfor -%}
)
{%- if not loop.last -%}
, 
{%- endif -%}
{%- endfor %};
