{%- import 'syntax.sql.jinja' as syntax -%}
SELECT{%- if distinct %} DISTINCT
    {%- endif %}
{%- for col in columns %}
    {{ col }} {{- syntax.comma_delineate(loop) }} --noqa: LT02
{%- endfor %}
FROM "{{ schema }}"."{{ table_name }}"
{%- if where_clauses !=[] %}
WHERE 
    {%- for clause_group in where_clauses %} --noqa: LT02
    ( 
        {%- for clause in clause_group %}
        {{ syntax.and_delineate(loop) -}} {{ clause }}
        {%- endfor -%}
    ) --noqa: LT02
    {{- syntax.or_delineate(loop) }}  
{%- endfor %}
{%- endif %}
